body {
      background-color: #0E6EFD;
}

.aabi {
      color: #0E6EFD;
}
.meshki {
      color: black;
}
.lockgray {
      color: lightgray;
}

#backgroundlogo {
      position: absolute;
      top: 10px;
      left: 10px;
      color: lightgray;
      font-size: 5rem;
}